@model SeedConnection.Models.Product

@{
    var ProductList = ViewBag.productList as List<SeedConnection.Models.Product>;
    ViewBag.Title = "Profile";
}

<script type="text/javascript">
    $(document).ready(function () {

    });
</script>

<h2>Profile</h2>

<div>
    <input type="button" id="addProduct" value="Add Product" />
</div>

<h3>Products</h3>
<div id="productList">
    @foreach (var product in ProductList)
    {
        <div><a onclick="showProductModal(@product.ProductId);">@product.Name</a></div>
    }
</div>